<!DOCTYPE HTML>
<html>

	<head>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>家电清洗</title>
		<link rel="stylesheet" href="/css/xns-bb.css" />
		<link rel="stylesheet" href="/css/swiper-3.3.1.min.css">
		<link rel="stylesheet" type="text/css" href="/aui/css/aui.2.0.css" />
		<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/swiper-3.3.1.min.js"></script>
	</head>

	<body>
		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-header">
					<b>服务内容</b>
				</div>
			</div>
		</section>
		<section class="aui-content-padded">

			<section class="aui-grid aui-margin-b-15 " style="background: #fff;">
				<div class="aui-row">
					<div class="aui-col-xs-4">
						<a href="/clean">
							<img class="nav-icon" src="/image/application/fridge.png">
							<div class="aui-grid-label">双门冰箱</div>
						</a>
					</div>
					<div class="aui-col-xs-8" style="border-left: 1px solid #F5F5F5;text-align: left; padding-left: 1rem;">

						<h4> 服务：冰箱清洗</h4>
						<h4> 用时：2小时</h4>
						<h4 style="color: #FF2600"> 价格：￥99.00</h4>

					</div>
				</div>
			</section>
		</section>
		<section class="aui-content-padded" style="text-align: center;">
			<div class="checkbtn-active">现在下单</div>
		</section>

		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-header" style="border-bottom: solid 1px #F5F5F5;">
					服务详情：
				</div>
				<div class="aui-card-list-content-padded" style="border-bottom: solid 1px #F5F5F5;">
					冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述 冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述 冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述 冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述 冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述冰箱清洗内容描述
				</div>
				<div class="aui-card-list-footer">
					温馨提示：若机器出现如下故障，不予以保养。
				</div>
			</div>
		</section>

		<script>
			//初始化swiper      
			var mySwiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationType: 'bullets',
				paginationClickable: true
			})
		</script>
	</body>

</html>