<!DOCTYPE HTML>
<html>

	<head>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>家电清洗</title>
		<link rel="stylesheet" href="/css/xns-bb.css" />
		<link rel="stylesheet" href="/css/swiper-3.3.1.min.css">
		<link rel="stylesheet" type="text/css" href="/aui/css/aui.2.0.css" />
		<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/swiper-3.3.1.min.js"></script>
	</head>

	<body>
		<header class="aui-bar aui-bar-nav">
			<div class="aui-title">家电清洗</div>
			<a class="aui-pull-right aui-btn ">
				<span class="aui-iconfont aui-icon-my"></span>
			</a>
		</header>
		
		<script>
			//初始化swiper      
			var mySwiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationType: 'bullets',
				paginationClickable: true
			})
		</script>
	</body>

</html>