<!DOCTYPE HTML>
<html>

	<head>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>家电清洗</title>
		<link rel="stylesheet" href="/css/xns-bb.css" />
		<link rel="stylesheet" type="text/css" href="/aui/css/aui.2.0.css" />
		<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
	</head>

	<body>
		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-header">
					<b>选择家电</b>
				</div>
			</div>
		</section>
		<section class="aui-content-padded">

			<section class="aui-grid aui-margin-b-15 " style="background: #fff; color: #fff;">
				<div class="aui-row">
					<% for(var i=0; i<items.length; i++) {%>
					<div class="aui-col-xs-4">
						<a href="/clean/detail/<%=items[i].get('id')%>">
							<%if(items[i].get('ItemHT')){%>
							<div class="aui-badge">热门</div>
							<%}%>
							<img class="nav-icon" src="<%= items[i].get('ItemIMG').thumbnailURL(200, 200) %>">
							<div class="aui-grid-label">
								<%= items[i].get('ItemNM') %>
							</div>
						</a>
					</div>
					<% } %>
				</div>
			</section>
		</section>
		<script>
		</script>
	</body>

</html>