<!DOCTYPE HTML>
<html>

	<head>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>小能手帮帮</title>
		<link rel="stylesheet" href="/css/xns-bb.css" />
		<link rel="stylesheet" href="/css/swiper-3.3.1.min.css">
		<link rel="stylesheet" type="text/css" href="/aui/css/aui.2.0.css" />
		<script src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
		<script src="/js/swiper-3.3.1.min.js"></script>

	</head>

	<body>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<% for(var i=0; i<swiper.length; i++) {%>
				<div class="swiper-slide">
					<a href="<%=swiper[i].get('SwiperUrl')%>"><img class="swiper-myimg" src="<%=swiper[i].get('SwiperImg').thumbnailURL(400, 400)%>"></a>
				</div>
				<%}%>
			</div>
		</div>
		<script>
			//初始化swiper      
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 5000
			})
		</script>
		<section class="aui-content-padded">
			<section class="aui-grid aui-margin-b-15 " style="background: #fff; color: #000;">
				<div class="aui-row">
					<div class="aui-col-xs-6">
						<a href="/clean">
							<div class="aui-badge">7折</div>
							<img class="nav-icon" src="/image/clean.png">
							<div class="aui-grid-label">家电清洗</div>
						</a>
					</div>
					<div class="aui-col-xs-6">
						<a href="/iphone">
							<img class="nav-icon" src="/image/smartphone.png">
							<div class="aui-grid-label">iPhone换屏</div>
						</a>
					</div>
					<div class="aui-col-xs-6">
						<img class="nav-icon" src="/image/driller.png">
						<div class="aui-grid-label">水电维修</div>
					</div>
					<div class="aui-col-xs-6">
						<img class="nav-icon" src="/image/bouquet.png">
						<div class="aui-grid-label">送花服务</div>
					</div>
				</div>
			</section>
		</section>
		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-footer" style="font-size: 0.5rem;">
					北京小能手帮帮科技有限公司
				</div>
			</div>
		</section>

	</body>

</html>