<!DOCTYPE HTML>
<html>

	<head>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>绑定手机</title>
		<link rel="stylesheet" href="/css/xns-bb.css" />
		<link rel="stylesheet" type="text/css" href="/aui/css/aui.2.0.css" />
		<script src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
	</head>

	<body>
		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-header">
					<b>绑定手机</b>
				</div>
			</div>
		</section>
		<section class="aui-content-padded">

			<section class="aui-grid aui-margin-b-15 " style="background: #fff;">
				<div class="aui-row">
					<input id="phoneNumber" type="tel" placeholder="请输入手机号码" style="background-color: #FFFFFF; padding-left: 0.7rem;width: 100%;" />
				</div>
			</section>
		</section>
		<section class="aui-content-padded" style="text-align: center;">
			<div id="next" class="checkbtn-disabled" disabled="disabled">下一步</div>
		</section>

		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-header" style="border-bottom: solid 1px #F5F5F5;">
					用户须知：
				</div>

				<div class="aui-card-list-footer">
					谢谢您使用小能手帮帮的服务，按下绑定按钮，证明您许可我们向您的手机发送验证码、优惠信息等内容。 我们不会以任何形式公开或泄漏您的手机号、姓名、家庭住址。请您放心使用，谢谢！
				</div>
			</div>
		</section>
	</body>
	<script>
		$("#phoneNumber").on("input", function() {

			if (checkMobile($(this).val())) {
				$("#next").removeClass("checkbtn-disabled");
				$("#next").addClass("checkbtn-active");
			} else {
				$("#next").removeClass("checkbtn-active");
				$("#next").addClass("checkbtn-disabled");
			}

		})
		$("#next").click(function() {

			if ($(this).hasClass("checkbtn-active")) {
				if(confirm("是否要向号码："+$("#phoneNumber").val()+"，发送验证短信？")){
					alert("跳转");
				}
			}

		})
	</script>

</html>