<!DOCTYPE HTML>
<html>

	<head>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>绑定手机</title>
		<link rel="stylesheet" href="/css/xns-bb.css" />
		<link rel="stylesheet" href="/css/swiper-3.3.1.min.css">
		<link rel="stylesheet" type="text/css" href="/aui/css/aui.2.0.css" />
		<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/swiper-3.3.1.min.js"></script>
	</head>

	<body>
		<section class="aui-content-padded">
			<div class="aui-card-list">
				<div class="aui-card-list-header">
					<b>验证手机</b>
				</div>
			</div>
		</section>
		<section class="aui-content-padded">

			<section class="aui-grid aui-margin-b-15 " style="background: #fff;">
				<div class="aui-row">
						<input type="tel" placeholder="请输入短信中的验证码" style="background-color: #FFFFFF; padding-left: 0.7rem;width: 100%;" />
					
				</div>
				
			</section>
		</section>
		<section class="aui-content-padded" style="text-align: center;">
			<div class="checkbtn-active">完成</div>
		</section>
	</body>

</html>